<%- include('header') -%>

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>DERATISATION</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/sanes-deratisation.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Dératisation en Tunisie</h4>
                    <p>Société de dératisation à Djerba et en Tunisie Il est important d’avoir recours à un service de dératisation avant d'avoir une invasion par les nuisibles par ce que les rats et les souris contaminent 10 fois plus qu’ils mangent d’aliments. En effet, les contaminations se font suite à des souillages divers à cause de leurs déjections telles que les urines, les excréments et les poils. Il est également important de noter que les rats sont susceptibles de véhiculer au moins 10 sortes de maladies humaines graves y compris la rage. Ces maladies sont transmissibles par leur présence, leur contact ou encore pire, leur morsure. 
<br> <br>
                      Important : en cas de morsure de rat, il faut immédiatement consulter un médecin car les risques d'infection sont très fréquents vu leurs mode de vie et leur régime alimentaire.
                      Notamment en présence de rongeurs vous pourriez être confrontés à des incendies engendrées par les dommages causées aux installations électriques. Néanmoins, des dégradations d'ordres alimentaires touchant les lieux de stockage et d’entreposage de la nourriture peuvent avoir lieu (cuisine, magasin, économat,…).
                   <br>  <p>
                    Lutte préventive & curative
                    Afin d'obtenir les meilleurs résultats possibles dans la lutte contre les rats, il est intéressant de mentionner que nous procédons par étapes, comme suit :
                    
                    Réaliser un état des lieux pour diagnostiquer le problème de façon individualisée.
                    Etablir un plan d'actions stratégique.
                    Eliminer les rongeurs par différents moyens : lutte physique faite par le client et la mise des appâts (raticides homologués) ; trappes à glu.
                    Assurer un passage régulier pour s'assurer que l'espace à protéger est bien exempt de rongeurs et autres nuisibles
                    Toutefois, la prévention joue un rôle particulièrement important dans la lutte contre les nuisibles tels que les rats et les souris. En effet, c'est la complémentarité entre une lutte physique (voir conseil) suivie par une lutte chimique tel que l'utilisation des raticides homologués, pour avoir une dératisation efficace qui permettra d’obtenir les meilleurs résultats. Or une dératisation efficace non suivie d'une prévention ne mènera nulle part.
                   </p> <br>
                   <p>Professionnel de catering, l’hôtellerie et de l’industrie
                    L’équipe de dératisation SANES propose des contrats adaptés à votre activité professionnelle:
                    Restaurants, bars, hôtels etc... la dératisation de votre établissement et son suivi ont une importance capitale dans notre prestation de service de dératisation. Notamment, La dératisation est un point essentiel du point de vu hygiène au niveau des établissements de catering, l’hôtellerie et de l’industrie. Que ce soit vis à vis de la clientèle ou de la santé publique, il est inadmissible de laisser des souris ou des rats envahir une cuisine ou une salle à manger d’un restaurant.
                    Le stockage de la nourriture au sein de ces derniers établissements multiplie les problèmes de présence de rongeurs. Il semble alors indispensable de faire appel à une société agréée par le ministère de la santé publique telle que la notre afin d'établir un contrat qui permettra au restaurateur:
                    • De prouver que son établissement est suivi par un professionnel.
                    • De s'assurer que son établissement est suivie préventivement contre les rongeurs.
                    
                    • De s'assurer qu'au moindre de problème d'infestation par les rats ou les souries, une intervention immédiate sera réalisée.</p>
                    </div>
              </article>
              <div class="col-md-12">
                <div class="section-heading">
                  <h2>DESINSECTISATION</h2>
                </div>
              </div>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/sanes-cafard-dcompostion.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Désinsectisation en Tunisie</h4>
                    <p>Notre service de désinsectisation présente un éventail de prestations hormis la désinsectisation cafards, celle anti mouche ainsi que la désinsectisation anti moustique. Un accent particulier sera mis dur la décafardisation en particulier.
                      La désinsectisation : Cafards
                      Il est utile de savoir qu’il existe environ 4000 espèces de blattes, dont la majeure partie réside en fait dans les milieux naturels tropicaux. Egalement, seule une vingtaine d’espèces sont commensales de l’Homme ou encore connues sous le nom de blattes domestiques.
                      Cependant, sur la vingtaine  d’espèces domestiques, on a identifié en Tunisie 5 espèces uniquement (Travaux A. Ben RHOUMA, 1998) :
                      
                      Blattella germanica ou blatte germanique
                      Periplaneta americana ou blatte américaine
                      Blatta orientalis ou blatte orientale
                      Supella longipalpa ou blatte des chambres
                      Periplaneta australasiae ou blatte australienne</p> <br>
                      <p>Les blattes ou cafards sont à l’origine de nombreux dégâts et nuisances y compris les suivants :
                        Dégâts de santé :
                        A vrai dire, la quantité et la nature des germes susceptibles d’être hébergés puis diffusés par les blattes sont directement fonction de la qualité sanitaire de leur milieu de vie. En effet, Les blattes sont capables de transporter et de déposer plusieurs agents pathogènes tels que l’agent de tuberculose humaine : Bacille de Koch (blatte orientale) ou encore d’entérobactéries dont la salmonelle (principalement véhiculée par les blattes germaniques et américaines). Ils peuvent être aussi à l’origine de phénomènes d’allergie vu que les allergènes véhiculés par les blattes demeurent longtemps présents et actifs dans le milieu même après la mort de ces dernières.
                        Dégâts environnementaux:
                        Les blattes sont très désagréables et témoigne vraisemblablement l’état d’hygiène du lieu encouru. Également, ils sont à l’origine d’une nuisance olfactive considérée leur production des substances odorantes hautement singulières. En effet, la blatte américaine produit une odeur permanente qui gâche irrémédiablement l’aliment souillé.</p> <br>
                      <p> Lutte contre les blattes/cafards
                        Action curative
                        Pour envisager une action de décafardisation assez efficace, notre société SANES procède par deux étapes :
                        Une phase d’évaluation  servant essentiellement à évaluer la nature et l’importance de l’infestation.
                        
                        *Identification de l’espèce ou des espèces.
                        *Evaluation de l’abondance et la distribution dans les locaux infestés,
                        *Evaluation des  voies de dispersion potentielles dans la construction, à partir des différentes sources possibles d’infestation.
                        *L’utilisation de piège peut être comme source complémentaire d’informations. La pose de quelques pièges dans des endroits choisis en fonction de leur adéquation potentielle à abriter des Blattes (locaux chauffés et obscurs,  par exemple…).
                        Il est également important de rechercher l’existence de traces révélatrices de la présence éventuelles des Blattes.
                        
                        Action d’éradication
                        Toute campagne d’éradication est accompagnée d’une action parallèle de prévention, afin de prévenir toute réinfestation ultérieure
                        1- Traitements insecticides et des pièges (utilisé pour l'évaluation de l'infestation).
                        2-  Réaménagement des locaux</p>
                      </div>
                </div>
              </article>
              <div class="col-md-12">
                <div class="section-heading">
                  <h2>DESINFECTION</h2>
                </div>
              </div>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-03.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Désinfection en Tunisie</h4>
                    <p>Notre service de désinsectisation présente un éventail de prestations hormis la désinsectisation cafards, celle anti mouche ainsi que la désinsectisation anti moustique. Un accent particulier sera mis dur la décafardisation en particulier.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

<hr>
  <!--    footer-->
  <%- include('footer') -%>