<footer id="footer">
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Siege Social</h2>
                        </div>
                        <address>
                             <p>Rue 13 Août -4116
                              Midoun<br> Djerba
                              4116
                              Tunisie</p>
                        </address>

                        <ul class="social-icon">
                             <li><a href="https://www.facebook.com/sanesmoslah/" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text"> 
                             <p>Copyright &copy; 2021 SANES</p>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Nous contacter</h2>
                        </div>
                        <address>
                             <p>
                              Telephone : +216 75 733 436 <br>
                              Fax : +216 75 730 877 <br>
                              Mobile : +216 98 424 769 </p>
                             <p>kamelmoslah@sanesmoslah.com <br> direction.sousse@sanesmoslah.com</p>
                        </address>

                        <div class="footer_menu">
                             <h2>Liens rapides</h2>
                             <ul>
                                  <li><a href="https://www.facebook.com/sanesmoslah/">Facebook</a></li>
                                  <li><a href="https://www.sanesmoslah.com/">SANES</a></li>
                                  <li><a href="#">Terms & Conditions</a></li>
                                  <li><a href="#">Refund Policy</a></li>
                             </ul>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-12">
                   <div class="footer-info newsletter-form">
                        <div class="section-title">
                             <h2>Inscription à la newsletter</h2>
                             <p>En vous inscrivant à notre Newsletter, vous serez toujours informé des dernières nouvelles.</p>
                        </div>
                        <div>
                             <div class="form-group">
                                  <form action="newsletter" method="post">
                                       <input type="email" class="form-control" placeholder="Entrer votre email" name="email" id="email" required=""> <br>
                                       <input type="submit" class="form-control" name="submit" id="form-submit" value="Envoyer">
                                  </form>
                                  <span><sup>*</sup>Veuillez noter que nous ne spammons pas vos e-mails.</span>
                             </div>
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
</footer>
  <!--   end footer-->

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.all.min.js"></script>
  <script src="assets/js/lightbox.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script src="assets/js/video.js"></script>
  <script src="assets/js/slick-slider.js"></script>
  <script src="assets/js/custom.js"></script>
 
  <% if(locals.success) { %>
    <script>
      const POP_MESSAGE = "<%= success %>"
      Swal.fire({
        icon: 'success',
        title: POP_MESSAGE,
        timer: 5000,
       
      })
    </script>
    <% } %>
       
</body>
</html>
