<!DOCTYPE html>
<html lang="fr">

  <head> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Société Africa Assainissement, Nettoyage et Services</title>
    
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">

    <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
   <link rel="stylesheet" href="assets/css/templatemo-style.css">
   <link rel="stylesheet" href="assets/css/templatemo-xtra-blog.css">
   <link href="assets/css/templatemo_style.css" rel="stylesheet" type="text/css">	
 
  </head>

<body>
  
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="/"><img src="./assets/images/logo.png" alt="LOGO SANES" height="50"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/">Acceuil</a></li>
        <li><a href="/sanes">SANES</a></li>
         <li class="has-submenu"><a href="#">Services</a>
          <ul class="sub-menu">
            <li><a href="/assainissement">Assainissement</a></li>
            <li><a href="/nettoyage">Nettoyage</a></li>
          </ul>
        </li>
         <li class="has-submenu"><a href="#">Dévis</a>
          <ul class="sub-menu">
            <li><a href="/devis-particulier">Particulier</a></li>
            <li><a href="/devis-professionnel">Professionnel</a></li>
          </ul>
        </li>
         <li><a href="/blog">Blog</a></li>
         <li><a href="/faq">F.A.Q</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="/contact">Contact</a></li>
        <li><a href="/espace-pro">Espace Pro</a></li>
       
      </ul>
    </nav>
  </header>