
<%- include('header') -%>
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Société Africa Assainissement,Nettoyage et Services</h6>
              <h2><em>SANES</em></h2>
              
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>Nos conseils pour
                  L'environnement</h4>
              </div>
              <div class="content-hide">
                <p>Aménagement de jardin. Fermeture du local poubelle. Assurer une climatisation contenue du local poubelle..</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section2">More Info.</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-graduation-cap"></i>Nos conseils pour
                  Atelier & Etage</h4>
              </div>
              <div class="content-hide">
                <p>Aménagement de tous les matériaux utilisés dans l’atelier, Elimination des déchets en bois et de tissus, Lever le niveau de stockage à 20 cm au moins,</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section3">Details</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-book"></i>Nos conseils pour
                  Economat</h4>
              </div>
              <div class="content-hide">
                <p>Élimination des emballages en carton, Fermeture des caisses contenants de la nourriture, Lever le niveau de stockage à 20 cm au moins,</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section4">Read More</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>LUTTE ANTI-VECTORIELLE</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Dératisation</a></li>
              <li><a href='#tabs-2'>Désinsectisation</a></li>
              <li><a href='#tabs-3'>Désinfection</a></li>
            </ul>
            
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-01.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Dératisation en Tunisie</h4>
                    <p>Société de dératisation à Djerba et en Tunisie Il est important d’avoir recours à un service de dératisation avant d'avoir une invasion par les nuisibles par ce que les rats et les souris contaminent 10 fois plus qu’ils mangent d’aliments. En effet, les contaminations se font suite à des souillages divers à cause de leurs déjections telles que les urines, les excréments et les poils. Il est également important de noter que les rats sont susceptibles de véhiculer au moins 10 sortes de maladies humaines graves y compris la rage.
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-02.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Désinsectisation en Tunisie</h4>
                    <p>Notre service de désinsectisation présente un éventail de prestations hormis la désinsectisation cafards, celle anti mouche ainsi que la désinsectisation anti moustique. Un accent particulier sera mis dur la décafardisation en particulier. La désinsectisation : Cafards Il est utile de savoir qu’il existe environ 4000 espèces de blattes, dont la majeure partie réside en fait dans les milieux naturels tropicaux.</p> 
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-03.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Désinfection en Tunisie</h4>
                    <p>Notre service de désinsectisation présente un éventail de prestations hormis la désinsectisation cafards, celle anti mouche ainsi que la désinsectisation anti moustique. Un accent particulier sera mis dur la décafardisation en particulier.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

 

  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Nos Services</h2>
          </div>
        </div>
           <div class="owl-carousel owl-theme col-md-12">
             
                <div class="item">
                  <img src="assets/images/courses-01.jpg" alt="">
                  <div class="down-content">
                    <h4>Lutte contre les insectes volants</h4>
                    <p>C’est une lutte physique suivie par une lutte chimique contre les adultes et les larves. La lutte chimique consiste à utiliser les différents pesticides homologués par le ministère de la santé.</p>
                   </div>
                </div>
                <div class="item">
                  <img src="assets/images/courses-02.jpg" alt="">
                  <div class="down-content">
                    <h4>Lutte contre les insectes rampants</h4>
                    <p>Nécessite au préalable une visite technique visant l'identification de la nature de l'infestation et leur intensité. Après l'identification, deux phases se succèdent : une préventive (physique) et l'autre curative en utilisant  les insecticides usuels.</p>
                   </div>
                </div>
                <div class="item">
                  <img src="assets/images/courses-03.jpg" alt="">
                  <div class="down-content">
                    <h4>Lutte contre les rongeurs</h4>
                    <p>Les rongeurs nuisibles vivants à proximité de l'homme sont une source de nuisance pour l'homme. En plus de leurs aspect dégoûtant, ils peuvent transmettre plusieurs maladies à l'homme tel que : la peste bubonique, leptospirose, la rage ….</p>
                   </div>
                </div>
                <div class="item">
                  <img src="assets/images/courses-04.jpg" alt="">
                  <div class="down-content"> 
                    <h4>Nettoyage</h4>
                    <p>Nettoyage des vitres. Remise au propre (fin de chantiers). Détachage et champoignage des fauteuils en tissus moquettes ...</p>
                   </div>
                </div>
               
            
            </div>
     </div>
    </div>
  </section>
  

  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>Briève-Présentation</span>
            <h4>A Propos  <em> de Nous</em></h4>
            <p>Notre société Africa Assainissement, Nettoyage & Services (SANES) a été créée en 1989. Forts de 32 années d'expérience dans le domaine du traitement de nuisibles, la société SANES  est un partenaire d'hygiène au niveau de l'hôtellerie et de l'industrie agroalimentaire.La tâche de la société SANES consiste à combattre tous les nuisibles (rats, cafards/blattes, mouches, moustiques…) pouvants porté préjudice à la santé humaine.
              Depuis la fondation de la société SANES ; la lutte anti-vectorielle (Dératisation, Désinsectisation, Désinfection) occupe une place privilégiée dans ses activités. 
              Le personnel SANES est  encadré et initié aux différentes techniques de manipulation, le suivi des équipes est assuré par nos hygiénistes.
              Notre société assure à sa clientèles un service de qualité. Le savoir faire de la société en matière d'hygiène et de la lutte anti-vectorielle est garanti par un auditeur externe, ces techniciens en hygiène et son personnel qualifié.
              .
            <br><br>Agréée par le ministère de la santé publique en 1989Certifiée ISO 9001
            Le siège social est à Djerba Midoun
            Filiales au niveau des différentes régions de la Tunisie: Sousse, Monastir, Mahdia, Hammamet, Nabeul, Tunis, Tabarka, Kébili et Tozeur.
            .</p>
            <div class="main-button"><a rel="nofollow" href="/sanes" target="_parent">Lire plus</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>SANES</h4>
            </div>
            <figure>
             <img src="assets/images/main-thumb.png"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>
  <hr>

  

  <!--    footer-->
  <%- include('footer') -%>
  
