<%- include('header') -%>

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>NETTOYAGE</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
           
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/nettoyage.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Nettoyage en Tunisie</h4>
                         <p>La société SANES assure le nettoyage des locaux communs des établissements dans les domaines hôteliers et industriels. Nos  interventions se font comme suit :
                          les établissements occupé
                          Entretien quotidien <br> <br>
                          Pour l’entretien quotidien (7J/7J), un grand nettoyage le matin et suivie durant la journée. <br> <br> <br>
                          Notre service consiste à faire un Balayage sec et humide des sols en carrelage ou en marbre, enlèvement des traces de doigts sur les portes vitrées à chaque passage,nettoyage de toutes les vitres existantes (suivant état), dépoussiérage des colonnes et nettoyage des miroirs,dépoussiérage de tous les objets de décorations dépoussiérer et enlever les toiles d’araignée, dépoussiérage des prises, interrupteurs et extincteurs,dépoussiérage des fauteuils,balayage sec et humide des sols des ascenseurs, Vidage et essuyage des cendriers, essuyage des tables, cristallisation du sol en marbre, aspiration des moquettes,
                          Pour les sanitaires, toutes les heures, nettoyage complet des groupes sanitaires et mis en place des consommables (fournis par le client),nettoyage désinfectant et récurant des appareils sanitaires (cuvettes intérieur et extérieur couvercles, pieds de W.C., pissoirs),vérification des brosses W.C et supports,vidage des poubelles et nettoyage,dépoussiérage des sèche-mains et des distributeurs de savon,balayage sec et humide des sols en carrelage,nettoyage des miroirs, vérification des rouleaux de papier W.C,nettoyage faïence pourtour miroir,dépoussiérage des caches lampes, enlever les tâches existantes sur les murs en faïence,contrôle des W.C toutes les heures ,changement des brosses défectueuses (sur la charge du client). <br> <br>
                          <br> <br>
                          Entretien hebdomadaire  <br> <br>
                          Nettoyage et lustrage des vitres (deux faces), dépoussiérage  des meubles bas de rangement, dépoussiérage et nettoyage tout ce qui est pièces décoratives, appliques existantes, aspiration des salons et enlever les tâches, dépoussiérage des grilles des climatiseurs, dépoussiérage et nettoyage des appliques et caches des lampes, dépoussiérage des colonnes à fond et nettoyage des miroirs, détartrage et désinfection des sanitaires, dépoussiérage et nettoyage des bouches d’aération, nettoyage des portes et encadrement , nettoyage, lavage, désinfection des poubelle,nettoyage à fond des brosses W.C. et support.    <br> <br>  
                          <br> <br>
                          Entretien mensuel <br> <br>
                          Décapage mécanique du sol (mono brosse), dépoussiérage du plafond avec les lampes et les grille des climatiseurs.
                          <br> <br>
                          Nettoyage et mise en propre après chantier <br> <br>
                          Dans le cas des travaux de nettoyage et mise en propre après chantier, le service de SANES consiste à faire : <br>
                          Nettoyage sec et humide  des sols carrelés et des murs en faïence, situés dans les locaux destines par le client, Lavage et détachage humide de la moquette, lustrage des vitres, cristallisation du sol en marbre</p>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/nettoyage-sanes.jpg" alt="">
                  </div>
                  
                </div>
              </article>
             
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

<hr>
  <!--    footer-->
  <%- include('footer') -%>