<%- include('header') -%>
  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>PRÉSENTATION</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
             <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/sanes-experience32.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <p>Notre société Africa Assainissement, Nettoyage & Services (SANES) a été créée en 1989.  </p> <br> <p>  Forts de 32 années d'expérience dans le domaine du traitement de nuisibles, la société SANES  est un partenaire d'hygiène au niveau de l'hôtellerie et de l'industrie agroalimentaire. </p>
                      <p> La tâche de la société SANES consiste à combattre tous les nuisibles (rats, cafards/blattes, mouches, moustiques…) pouvants porté préjudice à la santé humaine. <br>
                      <br>
                      Depuis la fondation de la société SANES ; la lutte anti-vectorielle (Dératisation, Désinsectisation, Désinfection) occupe une place privilégiée dans ses activités. <br>
                      <br>
                      Le personnel SANES est  encadré et initié aux différentes techniques de manipulation, le suivi des équipes est assuré par nos hygiénistes.
                      <br> <br>
                      Notre société assure à sa clientèles un service de qualité. Le savoir faire de la société en matière d'hygiène et de la lutte anti-vectorielle est garanti par un auditeur externe, ces techniciens en hygiène et son personnel qualifié. </p> <br>
                      

                    </div>
              </article>
              
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         
        </div>
        <div class="col-md-12">
          <div id='tabs'>
             <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/sanes-iso-9001.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <p>
                      Agréée par le ministère de la santé publique en 1989
                      Certifiée ISO 9001
                      
                      Le siège social est à Djerba Midoun
                      
                      Filiales au niveau des différentes régions de la Tunisie: Sousse, Monastir, Mahdia, Hammamet, Nabeul, Tunis, Tabarka, Kébili et Tozeur.</p>
                      </div>
                    </article>
                    
                  </section>
                </div>
              </div>
            </div>
          </div>
        </section>

 

  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>PLAN D'ACTION</h2>
          </div>
        </div>
     </div>
    </div>
  </section>
  

  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
           <p>Le plan d’action est réalisé suite à l’audit d’évaluation. Ce plan tient compte de la nature de l’infestation, de son importance et de la zone touchée.

            Ce plan d’action comprend deux phases : <br> <br>
            
            Lutte physique : consiste à remédier aux anomalies et aux défaillances liées à l'infrastructure et aux équipements des clients favoraisant la prolifération des nuisibles.
            <br>
            Nous  comptons, au cours  de cette phase, sur la collaboration des responsables de l’établissement.
            <br> <br>
            Lutte chimique : consiste à utiliser les différents produits insecticides et raticides homologués par le ministère de la santé.</p>
            <div ></a></div>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>SANES</h4>
            </div>
            <figure>
             <img src="assets/images/plan-action-commercial-730x450.jpg"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

 
<hr>
  <!--    footer-->
  <%- include('footer') -%>